<%- include('partials/header.ejs') %>

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Cart</h2>
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="#">Cart</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <% if(products.length===0) {%>
              <div class="alert alert-info" role="alert" style="text-align: center; font-weight: bold;">
                Your Cart Is Empty
              </div>
            <%}else{%>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% for(const product of products){%>
                  <% total += (product.price * product.quantity) %>
                  <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="<%=product.image%>"
                          alt=""
                          style="width: 147px; height: 100px;"
                        />
                      </div>
                      <div class="media-body">
                        <p><%=product.name%></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$<%=product.price%></h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input type="text" name="qty" value="<%=product.quantity%>" title="Quantity:" class="input-text qty" readonly="" disabled>
                    </div>
                  </td>
                  <td>
                    <h5>$<%= (product.price*product.quantity) %></h5>
                  </td>
                  <td>
                    <form action='/cart/<%= product.productId %>?_method=DELETE' method="POST">
                      <button type="submit" style="all: unset; cursor: pointer;"><i class="ti-close"></i></button>
                    </form>
                  </td>
                  <%}%>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Subtotal</h5>
                    </td>
                    <td>
                      <h5>$<%= total %></h5>
                    </td>
                    <td></td>
                  </tr>
                  <tr class="out_button_area">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="checkout_btn_inner">
                        <a class="gray_btn" href="/shop">Continue Shopping</a>
                        <a class="main_btn" href="/checkout">Proceed to checkout</a>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->

<%- include('partials/footer.ejs') %>